<!DOCTYPE html>
<html>
    <head>
        <title>All Profiles</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../../pstyle.css">
        <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>  
	<a id="button" style="text-decoration: none;"></a>
        <div class="col-lg-12 col-md-12 col-sm-12 container justify-content-center">
            <br>
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(189, 24, 24);">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">  
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding: 0.5%;">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="index">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="baseprofile">Blogs</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="account">Account</a>
                      </li>
                    </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/auth/logout" style="color:#eee;text-decoration: none;">Log out</a></li>
                </ul>
                  </div>
                </div>  
              </nav>
         <div class="cfx">
         </div>
        <div class="title">
        <h4 style="font-size: 80px; font-weight: bolder;text-align: center; margin: auto;">YOUR PROFILE</h4>
      </div>
      <div class="row" style="background-color: rgba(126, 1, 1, 0.719); margin: 5%;">
        <div class="col-sm-12 col-lg-6">
        <h1 style="text-align: left; font-size: 75px; color: #ccc;">{{user.name}}</h1>
            <img src="Images/perholder.png" style="width: 60%;">     
        </div>
        <div class="col-sm-12 col-lg-6" style="background-color: rgba(126, 1, 1, 0.719); border-radius: 3%;">
          <div class="cfx"><br></div>
          <h3 style="color: rgb(174, 223, 155); text-align: left; margin: 2%;">NAME : </h3>  
          <br>
          <h3 style="color: #ccc; text-align: left; margin: 2%;">{{user.name}}</h3>
          <br>
          <h3 style="color: rgb(174, 223, 155); text-align: left; margin: 2%;">USERNAME : </h3>
          <br>
          <h3 style="color: #ccc; text-align: left; margin: 2%;">{{user.email}}</h3>
        </div> 
    </div>  
       <div class="row" style="background-color: rgba(126, 1, 1, 0.719); margin: 5%; border-radius: 20px;">
         <div class="col-sm-12 col-lg-6 justify-content-center" style="margin: 3% auto;">
         <h3 style="font-size: 70px; color: #ddd; text-align: left;">YOUR BLOGS</h3>
         </div>
         <div class="col-sm-12 col-lg-6 justify-content-center" style="margin: 1% auto;">
<a href="createblog" style="text-decoration: none;"><button id="bth" style="padding: 5% 14%;">Write A New Blog</button></a>
              </div>
    {{#each row}}
             <div class="cfx">
             <br><br> <br>
          </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12 justify-content-center" style="margin: 3% auto;">
                <h1 style="  font-size: 60px;text-align: left;">{{this.title}}</h1>
              <div class="cfx"><br></div>

              <h2 style="font-size: 40px ;color: rgb(255, 251, 199); text-align: left; margin: 1%;">{{this.name}}</h2>
              <br>
              <h3 style="color: rgb(255, 255, 255); text-align: left; margin: 1%;"> {{this.content}}</h3>  
            </div>
              <div class="col-sm-12 col-lg-6 justify-content-center" style="margin: 3% auto;">
              <form action = "/auth/remove_blog" method="post">
              <input type="hidden"  name ="id" value="{{this.id}}"></button>
              <button type="submit" id="bth" class="btn btn-danger btn-sm" name="delete">Delete</button>
              </form>
              </div>
              <div class="col-sm-12 col-lg-6 justify-content-center" style="margin: 3% auto;">
                <button type="submit" id="bth" class="btn btn-danger btn-sm" onclick="viewer()" name="editview">Edit</button>
</div>
              <div class="col-sm-12 col-lg-12 justify-content-center" style="margin: 3% auto; display: none;" id="frm">
              <form action = "/auth/edit_blog" method="post">
                              <input type="text" placeholder="Edit Title" class="form-control my-3 bg-light text-left" name="title">
                <input type="text" placeholder="Name" class="form-control my-3 bg-light text-left" name="name">
                <textarea name="content" placeholder="Enter Blog Content Here" class="form-control my-3 bg-left" cols="20" rows="10"></textarea>
              <input type="hidden"  name ="id" value="{{this.id}}">
              <in
              <button type="submit" id="bth" class="btn btn-danger btn-sm" name="edit">Commit Changes</button>
              </div>
        </div>
    {{/each}}
         </div>
  <div class="row" style="background: none; padding: 1%;">
        <div class="col-sm-8 col-lg-8 justify-content-center" style="margin: auto;">
    <a href="index" style="text-decoration: none;">
      <h3 style=" border-radius: 20px; color: #eee; margin: 3% auto; background-color: rgba(212, 5, 5, 0.719);padding: 3%; width: 80%;"> BACK TO HOME</h3></a>
    </div>
  </div>
    <div class="cfx">
        <br><br>
     </div>
            <footer>
              <h4> A Project site made by Harshit Rautela, 2019CSC1038</h4><h4> Khalsa College, for subject internet technology, sem V</h4>
              </footer>
              <script>
                                   function viewer()
                   {
                      document.getElementById("frm").style.display = "block";
                    }


              </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
      </body>
</html>
